<a href="https://colab.research.google.com/github/isapedraza/GIFOFFinitial/blob/master/Reading_a_cvs_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:

import pandas as pd

%matplotlib inline
#particles = pd.read_csv('https://goo.gl/sp8gYx')
particles = pd.read_csv('https://cernbox.cern.ch/index.php/s/Ak6DnRo9QhV315Y/download')
particles.head()
#particles.shape[0]
#print("Hola mundo")

      Run     Event type1       E1     px1  ...     pt2    eta2    phi2  Q2        M
0  165617  74601703     G   9.6987 -9.5104  ...  7.4178  0.7756 -0.1560   1  17.4922
1  165617  75100943     G   6.2039 -4.2666  ...  7.8019 -0.6786 -0.3700   1  11.5534
2  165617  75587682     G  19.2892 -4.2121  ...  4.3697  1.4497 -0.1086   1   9.1636
3  165617  75660978     G   7.0427 -6.3268  ...  4.5546 -0.6605  0.1875   1  12.4774
4  165617  75947690     G   7.2751  0.1030  ...  6.9523  0.3227  1.6282   1  14.3159

[5 rows x 21 columns]